body {
    background: radial-gradient(#0f5536, #073520);
    background-size: cover;

    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

h1 {
    margin: 50px 0 20px 0;
    color: goldenrod;
}

#message-el {
    font-style: italic;
}





